<?xml version="1.0"?>
<model>
  <name>explorer_bot</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>isaiah</name>
    <email>isaiah@example.com</email>
  </author>

  <description>
    Mobile robot for autonomous exploration using ROS2 and Nav2.
    Equipped with a differential drive setup, passive rear caster wheel, 2D LiDAR, RGB Camera, and IMU.
  </description>
</model>
